:root {
  /* colors */
  --bgprimario: #f6f6f6;
  --GrisClaro: #d9d9d9;
  --CelesteClaro: #0099f6;
  --Celeste: #026cb2;
  --AzulClaro: #043f6e;
  --Azul: #1e50ff;
  --AzulOscuro: #07122b;
  --Lila: #833ab4;
  --VerdeAgua: #00d5ff;
  --ShadowBG: #ffffff0d;
  --ShadowColor: #1f268780;
  /* Textos */
  --Blanco: #ffffff;
  --Gris: #272d37;
  --Gris2: #626161;
  --Negro: #02050e;
  --Home: #a9d2e2;

  /* Fuentes */
  /* Logo: font-family: 'Quicksand', sans-serif; */
  /* Texto Normal: font-family: 'Roboto Condensed', sans-serif; */
  /* Texto Ligero: font-family: 'Roboto Flex', sans-serif; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  /* border: solid gray 0.1px; */
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin-top: 60px;
  background-color: var(--bgprimario);
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.sect {
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px;
}

.sect-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.sect-text {
  text-align: justify;
  font-size: 25px;
  font-weight: 600;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  padding: 10px;
  width: 99vw;
  background: linear-gradient(180deg, #043f6e 0%, #0099f6 100%);
  color: var(--bgprimario);
  box-shadow: 0px 3px 12px 0px #0099f666;
  -webkit-box-shadow: 0px 3px 12px 0px #0099f666;
  border-bottom: solid 1px #043f6e;
  transition: 0.7s;
  z-index: 15;
}

.navbar-container {
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: auto;
  padding: 0 15px 0 5px;
}

.logo-container {
  align-items: center;
  gap: 15px;
}

.logo {
  height: 40px;
}

.logo-container a {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  font-size: 32px;
  color: var(--Blanco);
}

.logo-container a span {
  color: var(--AzulOscuro);
  font-weight: 700;
}

.navbar-list {
  align-items: center;
  gap: 20px;
}

.navbar-list a {
  color: var(--bgprimario);
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 23px;
}

.navbar-list li:first-child > a {
  font-weight: 700;
  color: #a9d2e2;
}

.menu-c a {
  background: linear-gradient(215deg, var(--CelesteClaro) 0%, var(--Azul) 50%);
  color: var(--Blanco);
  border-radius: 20px;
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
}

.menu-h a {
  color: var(--Blanco);

  font-size: 30px;
  cursor: pointer;
}

#menu-hamburg,
#menu-carrito,
.menu-h,
.overlay,
.navbar-list-mh {
  display: none;
}

.navbar {
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

.carrito {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 50px 30px;
  background: linear-gradient(180deg, #043f6ee6 10%, #0b435de6 100%);
  border-left: 1px solid var(--AzulClaro);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  box-shadow: 0px 3px 12px 0px #0a1d29c5;
  -webkit-box-shadow: 0px 3px 20px 0px #0a1d29c5;
  z-index: 2;
  transform: translateX(200%);
  transition: all 0.5s ease-in-out;
}

.carrito::-webkit-scrollbar {
  display: none;
}

.carrito-item {
  gap: 15px;
  border: #0099f6 solid 1px;
  border-radius: 20px;
  padding: 15px;
  background-color: var(--bgprimario);
}

.carrito-item img {
  height: 80px;
}

.carrito h2 {
  font-family: "Quicksand", sans-serif;
  padding: 25px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

.carrito-item-desc {
  flex-direction: column;
  gap: 5px;
  width: 200px;
}

.carrito-item-desc h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: var(--CelesteClaro);
}

.carrito-item-desc p {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--Gris2);
}

.carrito-item-desc span {
  height: 1px;
  background: linear-gradient(215deg, var(--Lila) 0%, var(--Azul) 50%);
  width: 95%;
}

.carrito-item-cant {
  flex-direction: column;
  gap: 10px;
  width: 70px;
}

.carrito-item-cant span {
  background: linear-gradient(215deg, var(--CelesteClaro) 0%, var(--Azul) 50%);
  height: 40px;
  width: 40px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px;
  border: var(--AzulOscuro);
  cursor: pointer;
}

.carrito-item-cant p {
  color: var(--AzulOscuro);
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.carrito-comprar {
  flex-direction: column;
  /* gap: 10px; */
}

.carrito-separador {
  height: 3px;
  background: linear-gradient(215deg, var(--bgprimario) 0%, var(--Blanco) 50%);
  width: 95%;
  width: 100%;
}

.carrito-total {
  align-items: center;
  padding: auto;
  width: 95%;
  justify-content: space-between;
}

.carrito-total p {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.carrito-comprar a {
  margin-top: 30px;
  background: linear-gradient(215deg, var(--CelesteClaro) 0%, var(--Azul) 50%);
}

#hero {
  background-color: var(--GrisClaro);
  gap: 15px;
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 145px;
}

.hero-logo img {
  height: 250px;
  position: absolute;
  top: -60px;
  border-radius: 150px;
  box-shadow: 0px 3px 12px 0px var(--Gris2);
  -webkit-box-shadow: 0px 3px 12px 0px var(--Gris2);
  background-color: var(--Celeste);
}

.hero-logo h1 {
  color: var(--Blanco);
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 3px 2px rgba(6, 25, 51, 0.4);
  position: relative;
  top: 180px;
  height: 80px;
}

.hero-logo h1 span {
  color: var(--Celeste);
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.hero-info {
  flex-direction: column;
  gap: 40px;
}

.hero-info p {
  color: var(--AzulOscuro);
}

.b-mn {
  color: var(--Blanco);
  text-shadow: #02050e 1px 1px;
  font-family: "Quicksand", sans-serif;
}
.s-mn {
  color: var(--Celeste);
}

.reg-log {
  justify-content: space-evenly;
  width: 90%;
}

.btn-log {
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  border-radius: 25px;
  background: linear-gradient(215deg, var(--CelesteClaro) 0%, var(--Azul) 50%);
  padding: 10px 25px;
  color: var(--GrisClaro);
  width: 200px;
  text-align: center;
  box-shadow: 0px 3px 12px 0px var(--Gris2);
  -webkit-box-shadow: 0px 3px 12px 0px var(--Gris2);
  cursor: pointer;
  transition: all ease 0.3s;
}

#puntos {
  background-color: var(--AzulOscuro);
  color: var(--bgprimario);
}

.puntos-container {
  gap: 15px;
}

.puntos-container img {
  height: 250px;
  padding: 50px 20px;
  gap: 15p;
}

.puntos-info {
  flex-direction: column;
  gap: 25px;
}

.puntos-info p {
  color: var(--GrisClaro);
}

#crypto {
  flex-direction: column;
  background-color: var(--GrisClaro);
  padding: 20px;
}

.crypto-title {
  flex-direction: column;
  gap: 25px;
}

.crypto-title h2 {
  color: var(--CelesteClaro);
}

#crypto-buy {
  background-color: var(--CelesteClaro);
}

.cryptomonedas {
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.cryptomonedas h2 {
  color: var(--Blanco);
}

.cards-container {
  width: 100%;
  justify-content: space-around;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 380px;
  width: 260px;
  border-radius: 30px;
  background-color: var(--GrisClaro);
  padding: 10px 10px;
  gap: 15px;
}

.card-top {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  /* padding: 10px 5px; */
  gap: 10px;
}

.card-title {
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-title h2 {
  color: var(--Celeste);
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  width: 140px;
  text-align: center;
}

/* .card-title-desc {
  display: flex;
  justify-content: center;
  width: 140px;
  gap: 3px;
}

.card-title-desc p {
  color: green;
  font-weight: 700;
} */

.img-cards {
  height: 75px;
  padding-left: 15px;
}

.card-title-desc {
  display: flex;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: var(--Gris2);
  font-weight: 800;
  font-size: 20px;
}

.card-info h2 {
  color: #07122b;
}

.btn-card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--GrisClaro);
  height: 35px;
  /* width: 100px; */
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(215deg, var(--CelesteClaro) 0%, var(--Azul) 50%);
  box-shadow: 0px 3px 12px 0px var(--Gris2);
  -webkit-box-shadow: 0px 3px 12px 0px var(--Gris2);
  cursor: pointer;
  transition: all ease 0.3s;
}

#moneycard {
  background-color: var(--GrisClaro);
  flex-direction: column;
  gap: 25px;
}

#moneycard h2 {
  color: var(--CelesteClaro);
}

.moneycard-info {
  gap: 15px;
}

.moneycard-info img {
  height: 350px;
  padding: 10px;
}

#aboutus {
  background-color: var(--AzulClaro);
  color: var(--GrisClaro);
  gap: 15px;
  flex-direction: column;
}

.aboutus-info {
  flex-direction: column;
  gap: 25px;
}

.aboutus-info h2 {
  color: var(--Blanco);
}

.aboutus-info p {
  color: var(--GrisClaro);
}

.aboutus-mas {
  justify-content: space-evenly;
}

.aboutus-mas-redes {
  flex-direction: column;
  gap: 25px;
}

.aboutus-mas-redes h2 {
  color: var(--Blanco);
}

.aboutus-mas-mapa {
  flex-direction: column;
}

.aboutus-mas-redes-det img {
  height: 240px;
}

.aboutus-mas-redes-det {
  width: 100%;
  gap: 25px;
}

.lista-redes {
  line-height: 45px;
  color: var(--Blanco);
}

.lista-redes li a {
  color: var(--Blanco);
  cursor: pointer;
}

.lista-redes li span {
  background-color: var(--GrisClaro);
  padding: 5px;
  font-size: 25px;
  border-radius: 30px;
  background: linear-gradient(215deg, #631b93 0%, #1d3efd 50%, #45fcf0 100%);
}

#contact {
  background-color: var(--GrisClaro);
  flex-direction: column;
  gap: 25px;
}

#contact h2 {
  color: var(--CelesteClaro);
}

#contact p {
  color: var(--AzulOscuro);
}

.contact-frm {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-family: "Quicksand", sans-serif;
  color: var(--AzulClaro);
  font-size: 25px;
  font-weight: 700;
}

#name,
#subject,
#email,
#message,
#pass,
#adress,
#phone {
  border-radius: 15px;
  font-size: 20px;
  padding: 5px 10px;
  color: var(--Gris);
  font-weight: 600;
  border: none;
}

.frm-btn {
  border-radius: 20px;
  font-size: 25px;
  justify-content: center;
  padding: 5px 80px;
  margin: 15px auto;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(215deg, var(--CelesteClaro) 0%, var(--Azul) 50%);
  color: var(--GrisClaro);
  font-weight: 600;
  border: none;
  box-shadow: 0px 3px 12px 0px var(--Gris2);
  -webkit-box-shadow: 0px 3px 12px 0px var(--Gris2);
}

footer {
  text-align: center;
  padding: 20px;
  border-top: solid 1px var(--AzulOscuro);
  background: linear-gradient(
    180deg,
    rgba(4, 63, 110, 1) 0%,
    rgba(7, 18, 43, 1) 100%
  );
  color: var(--bgprimario);
  font-size: 20px;
  height: 70px;
}

/* LOGUIN / REGISTER */

.navbar-user {
  height: 50px;
}

#login-register {
  min-width: 360px;
  margin-top: 30px;
}

.log-reg-container {
  flex-direction: column;
  position: relative;
  color: #0099f6;
  background-color: var(--GrisClaro);
  max-width: 1200px;
  border-radius: 30px;
  padding: 220px 35px 35px 35px;
  margin: 15px;
}

.log-reg {
  justify-content: center;
}

.log-reg h1 {
  top: -20px;
}

.log-reg-home {
  font-family: "Quicksand", sans-serif;
  font-size: 23px;
  font-weight: 700;
  color: var(--Blanco);
}

.log-reg-container p {
  padding-bottom: 35px;
  text-align: center;
  font-size: 30px;
}
